<h1>Contact us</h1>

<form [formGroup]="myForm" (ngSubmit)="signup()">

    <!-- <h5 *ngIf="success">Your form is valid!</h5> -->

    <label>
     User Name:
      <input type="text" formControlName="name">
      <div *ngIf="submitted && myForm.controls.name.errors" class="error">
        <div *ngIf="myForm.controls.name.errors.required">User name is required</div>
      </div>
    </label>
  
    <label>
      Password:
      <input type="password" formControlName="password">
      <div *ngIf="submitted && myForm.controls.password.errors" class="error">
        <div *ngIf="myForm.controls.password.errors.required">Password is required</div>
      </div>
    </label>

<input type="submit" value="SignUp" class="cta">
{{success}}
  </form>

  <!-- <div *ngIf="submitted" class="results">
    <strong>Name:</strong> 
    <span>{{ messageForm.controls.name.value }}</span>

    <strong>Message:</strong> 
    <span>{{ messageForm.controls.message.value }}</span>
  </div> -->
