<label>Add Route Pattern</label>

<div>
  <label>Service:</label>
  <input hidden="true" type="text" [(ngModel)]="routeData.id">
  <input type="text" [(ngModel)]="routeData.service">
  <label>Routing Type:</label>
  <input type="text" [(ngModel)]="routeData.routingType">
  <label>MTA:</label>
  <input type="text" [(ngModel)]="routeData.mta">
  </div>
<br>

  
<div>
    <label>LATA:</label>
    <input type="text" [(ngModel)]="routeData.lata" >
    <label> Custom Name:</label>
    <input type="text" [(ngModel)]="routeData.customName" >
    <label>PSAP Name-Id:  </label>
    <input type="text" [(ngModel)]="routeData.PSAPNameId" >
    </div>

  <div>
    <button type="button" (click)="add(routeData)">add</button>
  </div>
<!-- {{routePttrenDetails[0]}} -->


  <section>
    <div>
        <table class="responsive-table highlight" style="background-color: grey;">
        <tr>
        <th>Service</th>
        <th>routing type</th>
        <th>mta</th>
        <th>lata</th>
        <th>cNAme</th>
        <th>nameId</th>
        </tr>

 
        <tr *ngFor="let data of routePttrenDetails ; let i = index">
        {{data.id}}
          <td>{{data.service}}</td>
          <td>{{data.routingType}}</td>
          <td>{{data.mta}}</td>
          <td>{{data.lata}}</td>
          <td>{{data.customName}}</td>
          <td>{{data.psapnameId}}</td>
          
          <td>
              <button type="submit" (click)="delete(data,i)">delete
                </button>
              </td>
              <td>
                  <button type="submit" (click)="onEdit(data)">Edit
                    </button>
                  </td>
        </tr>
      </table>
      <!-- <div>
        <button type="submit" (click)="delete()">delete</button>
      </div> -->
    </div>
  </section>


